.b-controls {
  @include flex(false, center);
  gap: $m25;
  margin-bottom: $m25;
  margin-left: 16px;
  min-height: 32px;

  &__title {
    font-size: $textRegular;
    font-weight: $textMedium;
    color: $colorDarkBlue;
  }

  &__btns {
    @include flex(false, center);
    gap: 8px;
  }
}
