.b-controls {
    @include flex(false, center);
    gap: $m25;
    margin-bottom: $m25;

    &__title {
        font-size: $textRegular;
        font-weight: $textMedium;
        color: $colorDarkBlue;
    }

    &__btns {
        @include flex(false, center);
        gap: 8px;
    }
}