// Радиус краёв
$rounded3: 3px;
$rounded4: 4px;
$rounded8: 8px;
$roundedFull: 9999px;

// Отступы
$m5: 5px;
$m10: 10px;
$m15: 15px;
$m20: 20px;
$m25: 25px;
$m30: 30px;
$m35: 35px;
$m40: 40px;
$m45: 45px;
$m50: 50px;
$m55: 55px;
$m60: 60px;
$m65: 65px;
$m70: 70px;
$m80: 80px;
$m110: 110px;

// Толщина рамки
$border1: 1px;

// Высота и ширина
$full: 100%;