// Цвета
$colorWhite: #FFFFFF;
$colorPrimary: #475DE5;
$colorPrimaryHover: #5869d8;
$colorBackground: #EDF2F7;
$colorGrey: #CBD5E0;
$colorLightGrey: #E2E8F0;
$colorTextPrimary: #1A202C;
$colorTextSecondary: #718096;