// Размеры текста
$textRegular: 16px;
$textSmall: 15px;
$textSmall2: 14px;
$textMedium: 18px;
$textTiny: 12px;
$textLarge: 40px;
$textTitle: 50px;

// Толщина текста
$textNormal: 400;
$textMedium: 500;
$textSemibold: 600;
$textBold: 700;

// Пространство между строками
$leadingSmall: 1.1;
$leadingTited: 1.2;