.b-checkbox {

  .el-checkbox {

    &__input,
    &__inner {
      width: 16px;
      height: 16px;
    }

    &__inner {
      border: 1px solid $colorGrey;
      border-radius: $rounded3;

      &:after {
        width: 4px;
        border-width: 2px;
      }
    }

    &__input {

      &.is-checked {

        +.el-checkbox {
          &__label {
            color: $colorTextSecondary;
          }
        }

        .el-checkbox {

          &__inner {
            background-color: $colorPrimary;
            border-color: $colorPrimary;
          }
        }
      }
    }

    &__label {
      font-size: $textTiny;
      font-weight: $textMedium;
      color: $colorTextSecondary;
      padding-left: 12px;
    }
  }
}
