@media (max-width: $sml) {
  .el-button.b-btn {
    &_tag-controls {
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}

@media (max-width: $sm) {
  .el-button.b-btn {
    &_primary,
    &_secondary {
      height: $m35;
    }

    &_medium {
      padding: 6px;
      height: 24px;

      span,
      p {
        font-size: $textTiny;
      }
    }

    &_icon {
      span,
      p {
        gap: 4px;

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    &_tag {
      font-size: $textTiny;
      font-weight: $textNormal;
      height: $m20;
    }
  }
}

@media (max-width: $xs) {
  .el-button.b-btn {
    &_tag-controls {
      top: 120%;
    }
  }
}
