.b-skeleton {
  margin-top: $m15;
  padding-left: 12px;
  padding-right: 12px;

  &.el-skeleton {
    width: auto;
  }

  .el-skeleton {
    &__item {
      height: $m10;
    }

    &__paragraph {
      margin-top: $m5;
    }
  }
}
