// Цвета
$colorWhite: #ffffff;
$colorPrimary: #475de5;
$colorPrimaryHover: #5869d8;
$colorBackground: #edf2f7;
$colorGrey: #cbd5e0;
$colorLightGrey: #e2e8f0;
$colorTextPrimary: #1a202c;
$colorTextSecondary: #718096;
$colorDarkBlue: #2d3748;
$colorPlaceHolder: #a0aec0;
$colorTextBtnSecondary: #4a5568;
$colorSectionActive: #f7fafc;

// Цвета для тегов
$colorTags: (
  default: #c8e7f9,
  default-hover: #9ed8fa,
  default-text: #2c5282,
  default-text-hover: #1c4a81,
  manager: #fedde6,
  manager-hover: #ffcad8,
  manager-text: #922b6c,
  manager-text-hover: #911c66,
  admin: #efe2fe,
  admin-hover: #d1abfc,
  admin-text: #574195,
  admin-text-hover: #4e3496,
  reviewer: #feebc8,
  reviewer-hover: #f8d38d,
  reviewer-text: #91472c,
  reviewer-text-hover: #943e1e,
);
